/*
 // GPL
 */
body {
	overflow: hidden;
	background-color: #FFFFFF;
	border-spacing: 0px;
	border: 0px;
}
body, table, div {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: normal;
}
body, input, textarea, div, table {
	margin: 0px;
	padding: 0px;
}

#table {
	border-collapse: collapse;
	border-spacing: 0;   /* cellspacing="0"*/
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
}
td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	height: 18px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: default;
}
.colheader {
	color: #666666;
	background-color: #EFEFEF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding-left: 5px;
	padding-right: 5px;
}
.colgroup {
	/*display: none;*/
	color: #666666;
	background-color: #EFEFEF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding-left: 5px;
	padding-right: 5px;
}
.default_table td {
	border: 0px;
}
#status_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	border: 1px solid silver;
	background: #aaaaaa;
}
.header td {
	padding: 0px;
	border: 0px;
}
.header {
	position: absolute;
	background-color: #C0C0FF;
	width: 100%;
	z-index: 2;
	padding-top: 1px;
	height: 22px;
	color: #333333;
}
.header a, .header, .footer a, .footer {
	color: #333333;
}
.footer {
	position: absolute;
	border-top: 1px solid #666666;
	background-color: #C0C0FF;
	width: 100%;
	z-index: 2;
	height: 18px;
	bottom: 0px;
}
.status {
	position: absolute;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	background-color: #C0C0FF;
	z-index: 2;
	height: 18px;
	bottom: 0px;
	right: 3px;
	padding-left: 5px;
}
.empty {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.cell_highlight {
	background-color: #FFFFC0;
}
.cell_selected {
	background-color: #EFEFEF;
}
.border_highlight {
	background-color: #C0FFC0;
}
