body {
	background-color: #FFFFFF;
	border-spacing: 0px;
	border: 0px;
}
body, table, div {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: normal;
}
body, input, textarea, div, table {
	margin: 0px;
	padding: 0px;
}
#table {
	/*border-collapse: collapse;*/
	border-spacing: 0; /* cellspacing="0"*/
	table-layout: fixed;
}
#table td {
	cursor: default;
}
td.borderless {
	border: 0px;
}
td.cell {
	padding-left: 4px;
	padding-right: 4px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
td.cell-selected {
	background-color: #404040;
	color: #FFFFFF
}
td.merged-cell {
	display: none;
}
td.table-corner {
	background-color: #FFFFFF;
	border: 0px;
	border: 1px solid #666666;
	width: 30px;
	height: 10px;
}
td.col-header {
	color: #808080;
	background-color: #EFEFEF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	width: 50px;
	vertical-align: middle;
}
td.row-header {
	color: #808080;
	background-color: #EFEFEF;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	text-align: right;
	height: 20px;
}
td.row-header div, td.col-header div, td.row-section div {
	overflow: hidden;
}
td.row-section {
	/*display: none;*/
	color: #666666;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 0px 1px;
	width: 15px;
}
td.col-section {
	/*display: none;*/
	color: #666666;
	background-color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 0px 1px;
	height: 20px;
}
td.col-section div {
	width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
td.vert-section {
	text-align: center;
	color: black;
	background-color: #C3DEB7;
}
#status_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	border: 1px solid silver;
	background: #aaaaaa;
}

/* context menu */
.context-menu-item.icon-merge_cells {
	background-image: url('images/merge_cells.png');
}
.context-menu-item.icon-split_cell {
	background-image: url('images/split_cell.png');
}
.context-menu-item.icon-clear_cell_contents {
	background-image: url('images/clear_cell_contents.png');
}
.dialog-editor {
	display: none;
	padding: 2px;
	border: 0;
}
